{% extends 'base.html' %}

{% block title %}
Gerenciamento de Treinamentos
{% endblock %}

{% block content %}
<section class="treinamentos-section">
    <h1>
        Gerenciamento de Treinamentos
    </h1>
    <p>
        Esta página permite gerenciar os treinamentos.
    </p>

    <div class="treinamentos-actions">
        <a href="/cadastrar_treinamento" class="action-button">
            <i class="fas fa-plus-circle">
            </i>
            Cadastrar Novo Treinamento
        </a>
        <a href="/listar_treinamentos" class="action-button">
            <i class="fas fa-list-ul">
            </i>
            Listar Treinamentos
        </a>
    </div>
</section>
{% endblock %}